body {
  font-weight: 300;
  font-size: 0.85rem;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', sans-serif;
}

.bg-grey{
  background-color: rgb(233, 231, 231);
}

/* data table css */
.rdt_TableHeader{
  display: none !important;
}
.rdt_TableCol div{
  font-weight:bolder !important;
}
.rdt_TableCell{
  font-weight:300 !important;
}
